@model IEnumerable<RohrerDuffyAssignment2.Models.Member>

@{
    ViewData["Title"] = "Admin";
}

<h2>Administrator</h2>
<p>Manage users and projects within Coding Club</p>
<a asp-controller="Members" asp-action="Index" class="btn btn-info">Manage Users</a>
<a asp-controller="Projects" asp-action="Index" class="btn btn-info">Manage Projects</a>