@model IEnumerable<RohrerDuffyAssignment2.Models.Member>

@{
    ViewData["Title"] = "AdminView";
}

<h2>AdminView</h2>
<button asp-controller="Members" asp-action="Index" type="button" class="btn btn-info">Manage Users</button>
<button asp-controller="Projects" asp-action="Index" type="button" class="btn btn-info">Manage Projects</button>