@{
    ViewData["Title"] = "Home Page";
}

<h2>CODING CLUB WEBSITE</h2>

<p>WELCOME, 
    Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nam at libero nec arcu luctus scelerisque. Sed eu malesuada felis. Donec sodales diam in nisi euismod, et lobortis ex pharetra. Nullam efficitur augue ac ultricies accumsan. Cras aliquam nulla sit amet nisi venenatis, nec ornare libero dictum. Etiam id placerat eros. Nullam congue quam eu enim luctus sodales. Nullam lacinia tortor vel lacus vehicula, sit amet maximus urna elementum. Morbi mollis est at sem tincidunt, ut tempor tortor molestie. Sed id suscipit lorem, at sagittis lectus. Aenean convallis volutpat consequat. Cras orci ipsum, ultrices in dictum et, suscipit ac nisl. </p>

<p>
    <ul>
        <li>Lorem ipsum</li>
        <li>Lorem ipsum</li>
        <li>Lorem ipsum</li>
        <li>Lorem ipsum</li>
        <li>Lorem ipsum</li>
    </ul>
</p>